<h1><%= { username: @params["username"]}.ai(html: true) %></h1>
<div class="container-fluid">
   <div class="row">
     <h1></h1>

     <div class="well">
       <%= @stats.to_hash.ai( html: true) %>
     </div>
     
   </div>
</div>

<script>
 window.stats = <%= @stats.to_hash.to_json %>;
 window.media = <%= @stats.media.to_json %>;
</script>

