<div class="container-fluid">
  <div class="row">
      <div id="statistics" style="display: block; position: fixed; top: 0%; left: 0%;">
        <div>
        <span id="status"></span>
        <span id="caption"></span>
        </div>
        <img id="central-image" alt="loading image" src=""/>
      </div>
      <div id="thumbs">
      </div>
    </div>
  </div>

  <div class="row">
    <div id="graphics" style="position:fixed;bottom:0;opacity: 0.5" onmouseover="this.style.opacity=1" onmouseout="this.style.opacity=0.5">

    </div>
  </div>
</div>
