<div class="container-fluid">
  <div class="row">
      <div id="statistics" style="display: block">
        <img id="central-image" style="display: block; float: right;" alt="loading image" src="#broken"/>
        <table border="orange dotted 1px" style="display: block; float: right;">
          <tr>
            <td>Year</td>
            <td>Pics</td>
            <td>Videos</td>
            <td>Likes</td>
            <td>Comments</td>
            <td>Places</td>
          </tr>
        </table>
      </div>
      <div id="graphics">
      </div>
      <div id="thumbs">
      </div>
    </div>
  </div>
</div>
